body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFEDED;
}

nav {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
}

.navbar li {
    margin: 0 15px; 
}

.navbar a {
    text-decoration: none; 
    color: black;
    font-size: 34px;
}

.logo {
    margin-left: 20px;
}

.btn {
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 40px;
    text-align: center;
    width: auto;
}

.btn-violet {
    background-color: #C0B4F2; 
    color: black;
}

.btn-rose {
    background-color: #FFC6C6;
    color: black;
    margin-right: 70px;
    margin-left: 30px;
}

.btn:hover {
    opacity: 0.8;
}

.bloc-continer {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    margin-top: 100px;
}

.bloc {
    background-color: #d7c3f2; 
    border-radius: 15px; 
    width: 35%; 
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 30px;
}

.bloc-header {
    background-color: white; 
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.bloc-body {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    color: black;
    font-size: 24px;
    text-align: left;
    height: 60%;
}

.icon {
    width: 15%; 
    height: 15%; 
    justify-content: center;
    border-radius: 10px; 
    margin-bottom: 15px; 
    
}
.iconShow{
    width: 10%; 
    height: 10%; 
    margin-right: 20px;
}
.iconShow:hover{
    opacity: 0.8;
    width: 11%; 
    height: 11%; 
}
.icons-containter{
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.title-effect {
    font-size: 46px;
    display: flex; 
    font-weight: bold;
    align-self: center;
}

.contact {
    
    flex-direction: column; 
    display: flex;
    margin-top: 100px;
}

.formulaire {
    flex-direction: column; 
    border-radius: 5px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 800px; 
    padding: 50px;
    margin-bottom: 100px;
}

.form-group {
    display: flex; /* Utilise flexbox pour aligner les éléments */
    flex-direction: column; /* Aligne label et input verticalement */
    margin-top: 30px;
}

label {
    font-size: 24px;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    min-height: 50px;
    margin-top: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    padding-left: 2px;
}

.btn-submit {
    height: 70px;
    background-color: #C0B4F2;
    min-height: 50px;
    margin-top: 50px;
    width: 70%;
    border-radius: 10px;
    font-size: 24px;
    align-self: center; /* Centre le bouton horizontalement dans son conteneur */
}

.btn-submit-tarif {
    height: 70px;
    background-color: #FFC6C6;
    min-height: 50px;
    margin-top: 50px;
    width: 70%;
    border-radius: 40px;
    font-size: 24px;
    align-self: center; /* Centre le bouton horizontalement dans son conteneur */
}

.submit {
    display: flex; 
    justify-content: center; 
    width: 100%;
}

.tarif-entreprise{
    margin-top: 250px;
    flex-direction: column;
    display: flex; 
    justify-content: center; 
}

.bloc-continer-tarif{
    
    justify-content: center; 
    display: flex; 
    flex-direction: row;   
    padding: 60px 200px ;
}

.bloc-tarif{
    flex-direction: column;
    background-color: #5A6DB0; 
    border-radius: 15px; 
    width: 60%; 
    height: auto;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 30px;
    display: flex; 
    justify-content: center; 
}

.tarif-header{
    display: flex; 
    justify-content: center; 
    padding: 20px 0px;
    width: 100%;
    background-color:white;
    border-radius: 10px;
    
}
.tarif-descriptin-container{
    background-color:white;
    margin-top: 20px;
    width: 100%;  
    padding: 20px 0px;
    border-radius: 10px;
}

.tarif-descriptin{
    margin-left: 10px;
    font-size: 24px;
}

.client-carousel {
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding: 10px 0;
}

.client-slider {
    display: flex;
    animation: scroll 20s linear infinite;
    padding: 20px 0;
}

.client-slider span {
    margin: 0 30px;
    font-size: 36px;
    padding: 20px 30;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #C0B4F2;
}

.about-content {
    max-width: 55%;
}

.about-content h2 {
    font-size: 42px;
    color: #2a5079; 
    margin-bottom: 40px;
}

.about-content p {
    font-size: 24px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-image {
    max-width: 35%;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
.a-propos-logo{
    padding: 40px 10px;
    background-color: white;
}
